
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');


* {
	--yellow-color: hsl(47, 88%, 63%);

	--white-color: hsl(0, 0%, 100%);
	--grey-color: hsl(0, 0%, 50%);
	--black-color: hsl(0, 0%, 7%);

	--primary-font-family: 'Figtree', sans-serif;	
	--lh-text: 22px;
	--font-size: 16px;
}
*,::before,::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--primary-font-family);
	background-color: var(--yellow-color);
	color: var(--black-color);
	font-size: var(--font-size);
	line-height: var(--lh-text);
	font-size: var(--font-size);
	width: 100vw;
	min-width: 320px;
	min-height: 100vh;	
}

.container{
	display: flex;
    height: 100vh;
	justify-content: center;
	align-items: center;

}

.card{
	width: 350px;
	height: 500px;
	background-color: var(--white-color);
	border-radius: 18px;
	padding: 18px;
	box-shadow:10px 10px var(--black-color),
	-1px -1px 1px var(--black-color);;
	
}

.card__header__img{
	width: 100%;
	border-radius: 10px;
	height: auto;

}

.card__main{
padding: 1rem 0;
}
.card__main__title{
	display: inline;
	background-color: var(--yellow-color);
	font-weight: 900;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: .85rem;
}
.card__main__date{
	font-size: .8125rem;
	font-weight: 100;
	padding: 1rem 0;

}

.card__main__titulo{
	padding: 0 0 1rem;
}
.card__main__titulo:hover{
	color: var(--yellow-color);
	cursor:pointer;
}
.card:hover{
	
	caret-color: black;

	box-shadow:15px 15px var(--black-color)
	,
	-1px -1px 1px var(--black-color);;
	
}
.card__main__description{
	font-size: .875rem;
	opacity: .5;
}

.card__footer{
	display: flex;
	align-items: center;
	gap:.75rem;
	width: 100%;
	height:40px;
}
.card__footer__img{
	width: 40px;
}
.card__footer__name{
	font-size: .75rem;
}
