/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/


/* ----- Fuente ----- */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----- Variables ----- */
:root {
    /* colores */
    --color: #333;

    /* config. */
    --ft-size: 1rem;
    --l-height: 22px;
    --bgMain:#D2DDF6;
    --bgCard:#F6F9FF;
    --color1:#6792FF;
    --color2:#4473EA;
    --color3:#1A52E1;
    --color4:#96B3FF;

    --colorShadow:#E5EDFF;
    --colorText:#12163C;
    --font-Popins:"Poppins", sans-serif;
    --font-Merriweather:"Merriweather", sans-serif;


}


/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body {
    font-size:16px;
    min-width:320px;
    background-color: rebeccapurple;
    color:var(--colorText);
    font-family: var(--font-Popins);
    
}

.container{
    background-color:var(--bgMain);
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: var(--bgCard);
    max-width: 100%;
    width: 600px;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.header{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.header__title{
    margin: 0;
    font-family: var(--font-Merriweather);
    font-weight: 900;
    font-size: 1.5rem;
}

.header__date{
    font-weight: 500;
    font-size: 1rem;
}
.description{
    display: flex;
    padding: 1rem 0;
}
.descriptión__grafico{
width: 35%;

}
.descriptión__componentes{
width: 65%;
padding: 0 1rem;

}
.description__list{
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
gap: 1rem;

}
.list__item{
    list-style: none;
    display: flex;
    align-items: center;
 
}
.item__title{
    font-weight: 500;
    font-size: .85rem;
    flex-grow: 1;
    
}
.item__barr{
    text-align: right;
}
.item__progres{
    height: 5px;
    vertical-align: middle;

}
#progress-1{
    border: 2px solid var(--color1);
    width: 120px;
    
}
#progress-1::-webkit-progress-value {
    background-color:var(--color1);
}

#progress-2{
    border: 2px solid var(--color2);
    width: 100px;
    
    
}
#progress-2::-webkit-progress-value {
    background-color:var(--color2);
}

#progress-3{
    border: 2px solid var(--color3);
    width: 60px;
    
    
}
#progress-3::-webkit-progress-value {
    background-color:var(--color3);
}

#progress-4{
    border: 2px solid var(--color4);
    width: 30px;
    
}
#progress-4::-webkit-progress-value {
    background-color:var(--color4);
}



.item__porcent{
    font-weight: 700;
    font-size: .85rem;
    width: 30px;
    padding-left: .3rem;
    display: flex;
    align-items: center;
}

.description__link{

    text-align: right;
    font-size: .875rem;
    color: var(--color3);

}

